@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../fonts/roboto-slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../../fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Electrolize";
    src: url("../../fonts/electrolize/Electrolize-Regular.ttf") format("truetype");
}


body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

#match-view {
    position: absolute;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;

    --info-bar-height: 40px;
    --border-color: black;
}

#stream {
    position: relative;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

#stream video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Mirror stream */
    transform: rotateY(180deg);
}

#timer {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin: 0px;
    background-color: white;
    border-bottom: solid black 5px;
}

#timer #bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: green;
}

#timer #time {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    min-height: 40px;
    border-radius: 10px;
    background: rgba(210, 210, 210, 0.8);
    line-height: 40px;
    text-align: center;
    padding-top: 1px;
    font-size: 40px;
    font-family: "Roboto";
    font-weight: bold;
}

#overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: 250px;
    margin: 0px;
    background-color: white;
    border-top: solid var(--border-color) 5px;
    box-sizing: border-box;

    --score-box-width: 500px;
}

#overlay .indicator {
    border: 5px solid var(--border-color);
    box-sizing: border-box;
    background-color: grey;
    color: lightgrey;
}

#overlay .red .lit.indicator {
    background-color: red;
    color: white;
}

#overlay .blue .lit.indicator {
    background-color: blue;
    color: white;
}

#overlay .label {
    font-family: "Roboto Slab";
    font-weight: bold;
    text-align: center;
    justify-self: flex-start;
    width: 100%;
    font-size: 30px;
    height: 40px;
}

#overlay #scoring-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background: linear-gradient(to top, lightgrey 95%, grey);
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 630px;
}

#overlay #scoring-panel #match-panel #match-name {
    font-family: "Roboto Slab";
    font-weight: bold;
    width: 500px;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    height: 50px;
    background-color: white;
    border: 5px solid var(--border-color);
    border-bottom: none;
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #score-box {
    width: 500px;
    height: 160px;
    border: 5px solid var(--border-color);
    font-family: Roboto;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    line-height: 150px;
    color: white;
    text-shadow: 0 0 5px var(--border-color);
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #score-box .blue {
    width: calc(50% - 2px);
    height: 100%;
    float: left;
    border-right: 2px solid var(--border-color);
    background-color: blue;
}

#overlay #scoring-panel #match-panel #score-box .red {
    width: calc(50% - 2px);
    height: 100%;
    float: right;
    border-left: 2px solid var(--border-color);
    background-color: red;
}

#overlay #scoring-panel #match-panel #teams {
    position: absolute;
    height: 210px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: calc(110px + var(--score-box-width));
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #teams .red, #overlay #scoring-panel #match-panel #teams .blue {
    position: absolute;
    height: 120px;
    width: 50px;
    bottom: 0px;
    background-color: white;
    border-top: 5px solid var(--border-color);
}

#overlay #scoring-panel #match-panel #teams .red.team-column {
    right: 0;
    border-right: 5px solid var(--border-color);
}

#overlay #scoring-panel #match-panel #teams .blue.team-column {
    left: 0;
    border-left: 5px solid var(--border-color);
}

#overlay #scoring-panel #match-panel #teams .team-column .number {
    position: relative;
    height: 40px;
    line-height: 35px;
    border-bottom: 5px solid var(--border-color);
    text-align: center;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 30px;
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #teams .red.alliance-number,
#overlay #scoring-panel #match-panel #teams .blue.alliance-number {
    position: absolute;
    height: 45px;
    width: 40px;
    top: 0px;
    background-color: white;
    border: 5px solid var(--border-color);
    text-align: center;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
}

#overlay #scoring-panel #match-panel #teams .red.alliance-number { right: 0; }
#overlay #scoring-panel #match-panel #teams .blue.alliance-number { left: 0; }

#overlay #scoring-panel .indicator-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    bottom: 0;
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.indicator-panel .breach {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.indicator-panel .capture {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.indicator-panel .auto {
    position: relative;
    width: 100%;
}

.indicator-panel .auto .indicators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

.indicator-panel .auto .indicator {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 18px;
}
.indicator-panel .auto .cross {
    width: 100%;
    height: 100%;
    font-size: 108px;
    font-weight: 100;
    color: black;
}
.indicator-panel .auto .cross:before {
    content: "";
    margin-left: -100%;
}
.indicator-panel .auto .cross:after {
    content: "";
    margin-right: -100%;
}

.endgame {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 180px;
}

.endgame .indicators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

.endgame .indicators .indicator {
    height: 50px;
    width: 50px;
    line-height: 40px;
}

#overlay .defenses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
}

.defenses .defense {
    position: relative;
    height: 30px;
}

.red.defenses .defense {
    background-color: rgb(189, 134, 134) !important;
}
.blue.defenses .defense {
    background-color: rgb(141, 134, 189) !important;
}

.defenses .bar {
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    box-sizing: border-box;
    transition: width 0.3s;
}

.red.defenses .bar {
    background-color: rgb(21, 103, 255);
    border: 3px solid rgb(0, 26, 219);
}
.blue.defenses .bar {
    background-color: red;
    border: 3px solid rgb(138, 0, 0);
}

#overlay .tower-panel {
    display: flex;
    position: relative;
    width: 150px;
}

.tower-panel .capture-progress {
    position: absolute;
    height: 100%;
    width: 20px;
    background-color: grey;
    box-sizing: border-box;
    border: 5px solid black;
}

.red.tower-panel .capture-progress { left: -15px; }
.blue.tower-panel .capture-progress { right: -15px; }

.capture-progress .bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    box-sizing: border-box;
    transition: height 0.3s;
}

.red .capture-progress .bar { background-color: blue; }
.blue .capture-progress .bar { background-color: red; }

@keyframes flash-red {
    from { background-color: red; }
    to { background-color: rgb(255, 100, 100); }
}

@keyframes flash-blue {
    from { background-color: blue; }
    to { background-color: rgb(100, 100, 255); }
}

.red .capture-progress .bar.flashing { animation: flash-blue 0.5s infinite linear alternate; }
.blue .capture-progress .bar.flashing { animation: flash-red 0.5s infinite linear alternate; }

.tower-panel .tower {
    position: absolute;
    inset: auto 0 0 0;
    margin: 0 auto;
    width: 90px;
    height: 105px;
    background-color: darkgrey;
    box-sizing: border-box;
    border: 5px black solid;
    border-top: none;
}

.tower-panel .turret-bevel-outline {
    position: absolute;
    width: 90px;
    height: 0px;
    inset: 90px 0 auto 0;
    margin: 0 auto;
    border-top: 17px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.tower-panel .turret-bevel {
    position: absolute;
    width: 80px;
    height: 0px;
    inset: 90px 0 auto 0;
    margin: 0 auto;
    border-top: 15px solid grey;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.tower-panel .turret {
    position: absolute;
    width: 130px;
    height: 75px;
    inset: 15px 0 auto 0;
    margin: 0 auto;
    background-color: darkgrey;
    box-sizing: border-box;
    border: 5px solid black;
    border-bottom: none;
}

.tower-panel .goal {
    width: 50px;
    height: 60px;
    inset: auto 0;
    margin: 0 auto; 
    background-color: black;
    border-radius: 25px 25px 0 0;
    font-family: "Roboto Slab";
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}

.high.goal {
    position: absolute;
    top: 25px;
}

.low.goal {
    position: absolute;
    bottom: 10px;
}

.tower-panel .parapet {
    position: absolute;
    width: 40px;
    height: 20px;
    inset: -20px 0 auto 0;
    margin: 0 auto;
    background-color: darkgrey;
    box-sizing: border-box;
    border: 5px black solid;
    border-bottom: none;
}

.parapet.left {
    width: 30px;
    margin-left: -5px;
    margin-right: auto;
}

.parapet.right {
    width: 30px;
    margin-left: auto;
    margin-right: -5px;
}

.tower-panel .challenge, .tower-panel .scale {
    position: absolute;
    transform: scale(3);
    image-rendering: pixelated;
}

.left.challenge {
    bottom: 10px;
    left: 15px;
}

.mid.challenge {
    transform: scale(-3, 3);
    bottom: 15px;
    right: 15px;
}

.right.challenge {
    bottom: 2px;
    right: 45px;
}

.left.scale {
    top: -10px;
    left: 27px;
}

.mid.scale {
    top: -25px;
    left: 70px;
}

.right.scale {
    top: -15px;
    right: 23px;
}