@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../fonts/roboto-slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../../fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Electrolize";
    src: url("../../fonts/electrolize/Electrolize-Regular.ttf") format("truetype");
}


body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

#match-view {
    position: absolute;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;

    --info-bar-height: 40px;
    --border-color: black;
}

#stream {
    position: relative;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

#stream video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Mirror stream */
    transform: rotateY(180deg);
}

#timer {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin: 0px;
    background-color: white;
    border-bottom: solid black 5px;
}

#timer #bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: green;
}

#timer #time {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    min-height: 40px;
    border-radius: 10px;
    background: rgba(210, 210, 210, 0.8);
    line-height: 40px;
    text-align: center;
    padding-top: 1px;
    font-size: 40px;
    font-family: "Roboto";
    font-weight: bold;
}

#overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: 250px;
    margin: 0px;
    background-color: white;
    border-top: solid var(--border-color) 5px;
    box-sizing: border-box;

    --score-box-width: 500px;
}

#overlay .indicator {
    border: 5px solid var(--border-color);
    box-sizing: border-box;
    background-color: grey;
    color: lightgrey;
    font-family: "Roboto Slab";
    text-align: center;
}

#overlay .cube.indicator {
    height: 60px;
    width: 60px;
    background-color: rgb(130, 21, 202);
    color: white;
    font-size: 40px;
    line-height: 50px;
}

#overlay .red .lit.indicator {
    background-color: red;
    color: white;
}

#overlay .blue .lit.indicator {
    background-color: blue;
    color: white;
}

#overlay .label {
    font-family: "Roboto Slab";
    font-weight: bold;
    text-align: center;
    justify-self: flex-start;
    width: 100%;
    font-size: 30px;
    height: 40px;
}

#overlay #scoring-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background: linear-gradient(to top, lightgrey 95%, grey);
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 630px;
}

#overlay #scoring-panel #match-panel #match-name {
    font-family: "Roboto Slab";
    font-weight: bold;
    width: 500px;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    height: 50px;
    background-color: white;
    border: 5px solid var(--border-color);
    border-bottom: none;
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #score-box {
    width: 500px;
    height: 160px;
    border: 5px solid var(--border-color);
    font-family: Roboto;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    line-height: 150px;
    color: white;
    text-shadow: 0 0 5px var(--border-color);
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #score-box .blue {
    width: calc(50% - 2px);
    height: 100%;
    float: left;
    border-right: 2px solid var(--border-color);
    background-color: blue;
}

#overlay #scoring-panel #match-panel #score-box .red {
    width: calc(50% - 2px);
    height: 100%;
    float: right;
    border-left: 2px solid var(--border-color);
    background-color: red;
}

#overlay #scoring-panel #match-panel #teams {
    position: absolute;
    height: 210px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: calc(110px + var(--score-box-width));
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #teams .red, #overlay #scoring-panel #match-panel #teams .blue {
    position: absolute;
    height: 120px;
    width: 50px;
    bottom: 0px;
    background-color: white;
    border-top: 5px solid var(--border-color);
}

#overlay #scoring-panel #match-panel #teams .red.team-column {
    right: 0;
    border-right: 5px solid var(--border-color);
}

#overlay #scoring-panel #match-panel #teams .blue.team-column {
    left: 0;
    border-left: 5px solid var(--border-color);
}

#overlay #scoring-panel #match-panel #teams .team-column .number {
    position: relative;
    height: 40px;
    line-height: 35px;
    border-bottom: 5px solid var(--border-color);
    text-align: center;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 30px;
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #teams .red.alliance-number,
#overlay #scoring-panel #match-panel #teams .blue.alliance-number {
    position: absolute;
    height: 45px;
    width: 40px;
    top: 0px;
    background-color: white;
    border: 5px solid var(--border-color);
    text-align: center;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
}

#overlay #scoring-panel #match-panel #teams .red.alliance-number { right: 0; }
#overlay #scoring-panel #match-panel #teams .blue.alliance-number { left: 0; }

/* Game pieces */

#overlay .grid-panel {
    width: 210px;
}

#overlay .grid-panel .grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

#overlay .grid-panel .box {
    display: flex;
    position: relative;
    box-sizing: border-box;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
}

#overlay .box.step { border-top: 5px solid black; }
#overlay .red .box.step { border-right: 5px solid black; }
#overlay .blue .box.step { border-left: 5px solid black; }

#overlay .box.step-corner::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    height: 5px;
    width: 5px;
    background-color: black;
}
#overlay .red .box.step-corner::after { right: 0; }
#overlay .blue .box.step-corner::after { left: 0; }

#overlay .box .link-icon {
    position: absolute;
    bottom: 2.5px;
    background-color: white;
    height: 55px;
    width: 55px;
    border-radius: 55px;

    /* inverted mask */
    -webkit-mask: url(../../images/link.svg), linear-gradient(#fff 0 0);
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: destination-out;
}
#overlay .red .box .link-icon { left: 5px; }
#overlay .blue .box .link-icon { left: 10px; }

#overlay .box .link-bg {
    position: absolute;
    bottom: 2.5px;
    height: 55px;
    width: 130px;
    border-radius: 55px;
}
#overlay .red .box .link-bg {
    left: 0px;
    background-color: rgb(233, 13, 13);
}
#overlay .blue .box .link-bg {
    left: 5px;
    background-color: rgb(62, 62, 255);
}

#overlay .box .link-border {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    border: 5px solid black;
    height: 60px;
    width: 130px;
    border-radius: 55px;
}
#overlay .red .box .link-border { left: 0px; }
#overlay .blue .box .link-border { left: 5px; }

#overlay .box .link-count {
    position: absolute;
    left: 65px;
    font-family: "Roboto Slab";
    color: white;
    font-size: 32px;
}
#overlay .red .box .link-count { top: 17px; left: 65px; }
#overlay .blue .box .link-count { top: 12px; left: 70px; }

#overlay .box .coop-icon {
    position: absolute;
    height: 55px;
    width: 55px;
    border-radius: 55px;
    background-image: url(../../images/handshake.svg);
    background-position: center;
    background-size: contain;
}
#overlay .red .box .coop-icon { background-color: rgb(233, 13, 13); }
#overlay .blue .box .coop-icon { background-color: rgb(62, 62, 255); }

#overlay .box .coop-border {
    position: absolute;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    border: 5px solid black;
    border-radius: 60px;
}

#overlay .column {
    display: flex;
    flex-direction: column;
}

#overlay .auto-panel {
    height: 100px;
    width: 360px;
    display: flex;
    flex-direction: column;
}

#overlay .auto-panel .label {
    text-align: left;
    width: 80px;
}

#overlay .auto-panel .mobility {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 60px;
}

#overlay .auto-panel .cross {
    width: 100%;
    height: 100%;
    font-size: 135px;
    font-weight: 100;
    line-height: 25px;
    color: black;
}
#overlay .auto-panel .cross:before {
    content: "";
    margin-left: -100%;
}
#overlay .auto-panel .cross:after {
    content: "";
    margin-right: -100%;
}

.auto-panel .charge {
    width: 60px;
    height: 60px;
    background-image: url(../../images/charged-battery.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.auto-panel .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#overlay .endgame-panel {
    height: 90px;
    width: 320px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

#overlay .endgame-panel .label {
    position: absolute;
}

.endgame-panel .parking {
    position: relative;
    width: 170px;
}

.endgame-panel .parking .platform {
    height: 5px;
    width: 150px;
    top: 92px;
    position: absolute;
    background-color: black;
}

.endgame-panel .park, .endgame-panel .dock {
    position: absolute;
    transform: scale(3);
    image-rendering: pixelated;
}
.endgame-panel .left.park {
    bottom: 10px;
    left: 15px;
}
.endgame-panel .mid.park {
    transform: scale(-3, 3);
    bottom: 13px;
    right: 15px;
}
.endgame-panel .right.park {
    bottom: 12px;
    right: 60px;
}
.endgame-panel .left.dock {
    bottom: 42px;
    left: 40px;
}
.endgame-panel .mid.dock {
    transform: scale(-3, 3);
    bottom: 45px;
    right: 35px;
}
.endgame-panel .right.dock {
    bottom: 44px;
    right: 80px;
}


.endgame-panel .charge-station {
    position: relative;
    width: 230px;
}

.endgame-panel .charge-station .border {
    position: absolute;
    width: 145px;
    height: 0px;
    inset: 60px 0 auto 0;
    margin: 0 auto;
    border-bottom: 37px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.endgame-panel .charge-station .platform {
    position: absolute;
    width: 140px;
    height: 0px;
    inset: 65px 0 auto 0;
    margin: 0 auto;
    border-bottom: 32px solid rgb(170, 170, 170);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.endgame-panel .charge-station .icon {
    position: absolute;
    width: 50px;
    height: 40px;
    inset: 60px 0 auto 0;
    margin: 0 auto;
    background-image: url(../../images/charged-battery.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}